.payee_container {
  border: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  width: 96%;
  border-radius: 4px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: monospace;
}

.payee_heading {
  /* border: 2px solid red; */
  width: 90%;
  font-size: 18px;
  color: #e63946;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.payees_div {
  /* border: 2px solid red; */
  width: 90%;
  padding: 5px;

  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.payee_user {
  border: 1px solid rgb(221, 221, 221);
  padding: 5px 7px;
  border-radius: 10px;
  cursor: pointer;
}
