.expesne_amount_input_div {
  border: 1px solid rgb(252, 252, 252);
  box-sizing: border-box;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  padding: 10px 3px;
  border-radius: 4px;
}

.spend_amount_label {
  /* border: 2px solid red; */
  width: 90%;
  font-size: 18px;
  color: #2a9d8f;
  margin-bottom: 3px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.3rem;
}

.expesne_amount_input_div input {
  width: 90%;
  height: 30px;
  text-indent: 5px;
  font-size: 16px;
  border-radius: 4px;
  background-color: inherit;
  border: 1px solid rgba(221, 221, 221);
  color: white;
}

.expesne_amount_input_div input:focus {
  outline: none;
}

.expense_amount_suggestions {
  /* border: 1px solid red; */
  margin-top: 8px;
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.expense_suggestion {
  border: 1px solid rgba(221, 221, 221);
  padding: 2px 6px;
  border-radius: 10px;
  cursor: pointer;
}
