/* @import "./variables.css"; */

body {
  background-color: var(--background-color);
  color: var(--textcolor);
}

.activeSelect {
  background-color: rgb(9, 91, 9) !important;
}

a {
  text-decoration: none;
  color: inherit;
}
