

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: rgb(30,30,30);
  --textcolor: rgb(221,221,221)
}




